/* Deafult Margin & Padding */
/*-- Margin Top --*/
.evente-wrap .mt-5 {
	margin-top: 5px !important
}

.evente-wrap .mt-10 {
	margin-top: 10px
}

.evente-wrap .mt-15 {
	margin-top: 15px
}

.evente-wrap .mt-20 {
	margin-top: 20px
}

.evente-wrap .mt-25 {
	margin-top: 25px
}

.evente-wrap .mt-30 {
	margin-top: 30px
}

.evente-wrap .mt-35 {
	margin-top: 35px
}

.evente-wrap .mt-40 {
	margin-top: 40px
}

.evente-wrap .mt-45 {
	margin-top: 45px
}

.evente-wrap .mt-50 {
	margin-top: 50px
}

.evente-wrap .mt-55 {
	margin-top: 55px
}

.evente-wrap .mt-60 {
	margin-top: 60px
}

.evente-wrap .mt-65 {
	margin-top: 65px
}

.evente-wrap .mt-70 {
	margin-top: 70px
}

.evente-wrap .mt-75 {
	margin-top: 75px
}

.evente-wrap .mt-80 {
	margin-top: 80px
}

.evente-wrap .mt-85 {
	margin-top: 85px
}

.evente-wrap .mt-90 {
	margin-top: 90px
}

.evente-wrap .mt-95 {
	margin-top: 95px
}

.evente-wrap .mt-100 {
	margin-top: 100px
}

.evente-wrap .mt-105 {
	margin-top: 105px
}

.evente-wrap .mt-110 {
	margin-top: 110px
}

.evente-wrap .mt-115 {
	margin-top: 115px
}

.evente-wrap .mt-120 {
	margin-top: 120px
}

.evente-wrap .mt-125 {
	margin-top: 125px
}

.evente-wrap .mt-130 {
	margin-top: 130px
}

.evente-wrap .mt-135 {
	margin-top: 135px
}

.evente-wrap .mt-140 {
	margin-top: 140px
}

.evente-wrap .mt-145 {
	margin-top: 145px
}

.evente-wrap .mt-150 {
	margin-top: 150px
}

.evente-wrap .mt-155 {
	margin-top: 155px
}

.evente-wrap .mt-160 {
	margin-top: 160px
}

.evente-wrap .mt-165 {
	margin-top: 165px
}

.evente-wrap .mt-170 {
	margin-top: 170px
}

.evente-wrap .mt-175 {
	margin-top: 175px
}

.evente-wrap .mt-180 {
	margin-top: 180px
}

.evente-wrap .mt-185 {
	margin-top: 185px
}

.evente-wrap .mt-190 {
	margin-top: 190px
}

.evente-wrap .mt-195 {
	margin-top: 195px
}

.evente-wrap .mt-200 {
	margin-top: 200px
}

.evente-wrap .mb-5 {
	margin-bottom: 5px !important
}

.evente-wrap .mb-10 {
	margin-bottom: 10px
}

.evente-wrap .mb-15 {
	margin-bottom: 15px
}

.evente-wrap .mb-20 {
	margin-bottom: 20px
}

.evente-wrap .mb-25 {
	margin-bottom: 25px
}

.evente-wrap .mb-30 {
	margin-bottom: 30px
}

.evente-wrap .mb-35 {
	margin-bottom: 35px
}

.evente-wrap .mb-40 {
	margin-bottom: 40px
}

.evente-wrap .mb-45 {
	margin-bottom: 45px
}

.evente-wrap .mb-50 {
	margin-bottom: 50px
}

.evente-wrap .mb-55 {
	margin-bottom: 55px
}

.evente-wrap .mb-60 {
	margin-bottom: 60px
}

.evente-wrap .mb-65 {
	margin-bottom: 65px
}

.evente-wrap .mb-70 {
	margin-bottom: 70px
}

.evente-wrap .mb-75 {
	margin-bottom: 75px
}

.evente-wrap .mb-80 {
	margin-bottom: 80px
}

.evente-wrap .mb-85 {
	margin-bottom: 85px
}

.evente-wrap .mb-90 {
	margin-bottom: 90px
}

.evente-wrap .mb-95 {
	margin-bottom: 95px
}

.evente-wrap .mb-100 {
	margin-bottom: 100px
}

.evente-wrap .mb-105 {
	margin-bottom: 105px
}

.evente-wrap .mb-110 {
	margin-bottom: 110px
}

.evente-wrap .mb-115 {
	margin-bottom: 115px
}

.evente-wrap .mb-120 {
	margin-bottom: 120px
}

.evente-wrap .mb-125 {
	margin-bottom: 125px
}

.evente-wrap .mb-130 {
	margin-bottom: 130px
}

.evente-wrap .mb-135 {
	margin-bottom: 135px
}

.evente-wrap .mb-140 {
	margin-bottom: 140px
}

.evente-wrap .mb-145 {
	margin-bottom: 145px
}

.evente-wrap .mb-150 {
	margin-bottom: 150px
}

.evente-wrap .mb-155 {
	margin-bottom: 155px
}

.evente-wrap .mb-160 {
	margin-bottom: 160px
}

.evente-wrap .mb-165 {
	margin-bottom: 165px
}

.evente-wrap .mb-170 {
	margin-bottom: 170px
}

.evente-wrap .mb-175 {
	margin-bottom: 175px
}

.evente-wrap .mb-180 {
	margin-bottom: 180px
}

.evente-wrap .mb-185 {
	margin-bottom: 185px
}

.evente-wrap .mb-190 {
	margin-bottom: 190px
}

.evente-wrap .mb-195 {
	margin-bottom: 195px
}

.evente-wrap .mb-200 {
	margin-bottom: 200px
}

.evente-wrap .ml-5 {
	margin-left: 5px
}

.evente-wrap .ml-10 {
	margin-left: 10px
}

.evente-wrap .ml-15 {
	margin-left: 15px
}

.evente-wrap .ml-20 {
	margin-left: 20px
}

.evente-wrap .ml-25 {
	margin-left: 25px
}

.evente-wrap .ml-30 {
	margin-left: 30px
}

.evente-wrap .ml-35 {
	margin-left: 35px
}

.evente-wrap .ml-40 {
	margin-left: 40px
}

.evente-wrap .ml-45 {
	margin-left: 45px
}

.evente-wrap .ml-50 {
	margin-left: 50px
}

.evente-wrap .ml-55 {
	margin-left: 55px
}

.evente-wrap .ml-60 {
	margin-left: 60px
}

.evente-wrap .ml-65 {
	margin-left: 65px
}

.evente-wrap .ml-70 {
	margin-left: 70px
}

.evente-wrap .ml-75 {
	margin-left: 75px
}

.evente-wrap .ml-80 {
	margin-left: 80px
}

.evente-wrap .ml-85 {
	margin-left: 85px
}

.evente-wrap .ml-90 {
	margin-left: 90px
}

.evente-wrap .ml-95 {
	margin-left: 95px
}

.evente-wrap .ml-100 {
	margin-left: 100px
}

.evente-wrap .ml-105 {
	margin-left: 105px
}

.evente-wrap .ml-110 {
	margin-left: 110px
}

.evente-wrap .ml-115 {
	margin-left: 115px
}

.evente-wrap .ml-120 {
	margin-left: 120px
}

.evente-wrap .ml-125 {
	margin-left: 125px
}

.evente-wrap .ml-130 {
	margin-left: 130px
}

.evente-wrap .ml-135 {
	margin-left: 135px
}

.evente-wrap .ml-140 {
	margin-left: 140px
}

.evente-wrap .ml-145 {
	margin-left: 145px
}

.evente-wrap .ml-150 {
	margin-left: 150px
}

.evente-wrap .ml-155 {
	margin-left: 155px
}

.evente-wrap .ml-160 {
	margin-left: 160px
}

.evente-wrap .ml-165 {
	margin-left: 165px
}

.evente-wrap .ml-170 {
	margin-left: 170px
}

.evente-wrap .ml-175 {
	margin-left: 175px
}

.evente-wrap .ml-180 {
	margin-left: 180px
}

.evente-wrap .ml-185 {
	margin-left: 185px
}

.evente-wrap .ml-190 {
	margin-left: 190px
}

.evente-wrap .ml-195 {
	margin-left: 195px
}

.evente-wrap .ml-200 {
	margin-left: 200px
}

.evente-wrap .mr-5 {
	margin-right: 5px
}

.evente-wrap .mr-10 {
	margin-right: 10px
}

.evente-wrap .mr-15 {
	margin-right: 15px
}

.evente-wrap .mr-20 {
	margin-right: 20px
}

.evente-wrap .mr-25 {
	margin-right: 25px
}

.evente-wrap .mr-30 {
	margin-right: 30px
}

.evente-wrap .mr-35 {
	margin-right: 35px
}

.evente-wrap .mr-40 {
	margin-right: 40px
}

.evente-wrap .mr-45 {
	margin-right: 45px
}

.evente-wrap .mr-50 {
	margin-right: 50px
}

.evente-wrap .mr-55 {
	margin-right: 55px
}

.evente-wrap .mr-60 {
	margin-right: 60px
}

.evente-wrap .mr-65 {
	margin-right: 65px
}

.evente-wrap .mr-70 {
	margin-right: 70px
}

.evente-wrap .mr-75 {
	margin-right: 75px
}

.evente-wrap .mr-80 {
	margin-right: 80px
}

.evente-wrap .mr-85 {
	margin-right: 85px
}

.evente-wrap .mr-90 {
	margin-right: 90px
}

.evente-wrap .mr-95 {
	margin-right: 95px
}

.evente-wrap .mr-100 {
	margin-right: 100px
}

.evente-wrap .mr-105 {
	margin-right: 105px
}

.evente-wrap .mr-110 {
	margin-right: 110px
}

.evente-wrap .mr-115 {
	margin-right: 115px
}

.evente-wrap .mr-120 {
	margin-right: 120px
}

.evente-wrap .mr-125 {
	margin-right: 125px
}

.evente-wrap .mr-130 {
	margin-right: 130px
}

.evente-wrap .mr-135 {
	margin-right: 135px
}

.evente-wrap .mr-140 {
	margin-right: 140px
}

.evente-wrap .mr-145 {
	margin-right: 145px
}

.evente-wrap .mr-150 {
	margin-right: 150px
}

.evente-wrap .mr-155 {
	margin-right: 155px
}

.evente-wrap .mr-160 {
	margin-right: 160px
}

.evente-wrap .mr-165 {
	margin-right: 165px
}

.evente-wrap .mr-170 {
	margin-right: 170px
}

.evente-wrap .mr-175 {
	margin-right: 175px
}

.evente-wrap .mr-180 {
	margin-right: 180px
}

.evente-wrap .mr-185 {
	margin-right: 185px
}

.evente-wrap .mr-190 {
	margin-right: 190px
}

.evente-wrap .mr-195 {
	margin-right: 195px
}

.evente-wrap .mr-200 {
	margin-right: 200px
}

.evente-wrap .pt-5 {
	padding-top: 5px !important
}

.evente-wrap .pt-10 {
	padding-top: 10px
}

.evente-wrap .pt-15 {
	padding-top: 15px
}

.evente-wrap .pt-20 {
	padding-top: 20px
}

.evente-wrap .pt-25 {
	padding-top: 25px
}

.evente-wrap .pt-30 {
	padding-top: 30px
}

.evente-wrap .pt-35 {
	padding-top: 35px
}

.evente-wrap .pt-40 {
	padding-top: 40px
}

.evente-wrap .pt-45 {
	padding-top: 45px
}

.evente-wrap .pt-50 {
	padding-top: 50px
}

.evente-wrap .pt-55 {
	padding-top: 55px
}

.evente-wrap .pt-60 {
	padding-top: 60px
}

.evente-wrap .pt-65 {
	padding-top: 65px
}

.evente-wrap .pt-70 {
	padding-top: 70px
}

.evente-wrap .pt-75 {
	padding-top: 75px
}

.evente-wrap .pt-80 {
	padding-top: 80px
}

.evente-wrap .pt-85 {
	padding-top: 85px
}

.evente-wrap .pt-90 {
	padding-top: 90px
}

.evente-wrap .pt-95 {
	padding-top: 95px
}

.evente-wrap .pt-100 {
	padding-top: 100px
}

.evente-wrap .pt-105 {
	padding-top: 105px
}

.evente-wrap .pt-110 {
	padding-top: 110px
}

.evente-wrap .pt-115 {
	padding-top: 115px
}

.evente-wrap .pt-120 {
	padding-top: 120px
}

.evente-wrap .pt-125 {
	padding-top: 125px
}

.evente-wrap .pt-130 {
	padding-top: 130px
}

.evente-wrap .pt-135 {
	padding-top: 135px
}

.evente-wrap .pt-140 {
	padding-top: 140px
}

.evente-wrap .pt-145 {
	padding-top: 145px
}

.evente-wrap .pt-150 {
	padding-top: 150px
}

.evente-wrap .pt-155 {
	padding-top: 155px
}

.evente-wrap .pt-160 {
	padding-top: 160px
}

.evente-wrap .pt-165 {
	padding-top: 165px
}

.evente-wrap .pt-170 {
	padding-top: 170px
}

.evente-wrap .pt-175 {
	padding-top: 175px
}

.evente-wrap .pt-180 {
	padding-top: 180px
}

.evente-wrap .pt-185 {
	padding-top: 185px
}

.evente-wrap .pt-190 {
	padding-top: 190px
}

.evente-wrap .pt-195 {
	padding-top: 195px
}

.evente-wrap .pt-200 {
	padding-top: 200px
}

.evente-wrap .pb-5 {
	padding-bottom: 5px !important
}

.evente-wrap .pb-10 {
	padding-bottom: 10px
}

.evente-wrap .pb-15 {
	padding-bottom: 15px
}

.evente-wrap .pb-20 {
	padding-bottom: 20px
}

.evente-wrap .pb-25 {
	padding-bottom: 25px
}

.evente-wrap .pb-30 {
	padding-bottom: 30px
}

.evente-wrap .pb-35 {
	padding-bottom: 35px
}

.evente-wrap .pb-40 {
	padding-bottom: 40px
}

.evente-wrap .pb-45 {
	padding-bottom: 45px
}

.evente-wrap .pb-50 {
	padding-bottom: 50px
}

.evente-wrap .pb-55 {
	padding-bottom: 55px
}

.evente-wrap .pb-60 {
	padding-bottom: 60px
}

.evente-wrap .pb-65 {
	padding-bottom: 65px
}

.evente-wrap .pb-70 {
	padding-bottom: 70px
}

.evente-wrap .pb-75 {
	padding-bottom: 75px
}

.evente-wrap .pb-80 {
	padding-bottom: 80px
}

.evente-wrap .pb-85 {
	padding-bottom: 85px
}

.evente-wrap .pb-90 {
	padding-bottom: 90px
}

.evente-wrap .pb-95 {
	padding-bottom: 95px
}

.evente-wrap .pb-100 {
	padding-bottom: 100px
}

.evente-wrap .pb-105 {
	padding-bottom: 105px
}

.evente-wrap .pb-110 {
	padding-bottom: 110px
}

.evente-wrap .pb-115 {
	padding-bottom: 115px
}

.evente-wrap .pb-120 {
	padding-bottom: 120px
}

.evente-wrap .pb-125 {
	padding-bottom: 125px
}

.evente-wrap .pb-130 {
	padding-bottom: 130px
}

.evente-wrap .pb-135 {
	padding-bottom: 135px
}

.evente-wrap .pb-140 {
	padding-bottom: 140px
}

.evente-wrap .pb-145 {
	padding-bottom: 145px
}

.evente-wrap .pb-150 {
	padding-bottom: 150px
}

.evente-wrap .pb-155 {
	padding-bottom: 155px
}

.evente-wrap .pb-160 {
	padding-bottom: 160px
}

.evente-wrap .pb-165 {
	padding-bottom: 165px
}

.evente-wrap .pb-170 {
	padding-bottom: 170px
}

.evente-wrap .pb-175 {
	padding-bottom: 175px
}

.evente-wrap .pb-180 {
	padding-bottom: 180px
}

.evente-wrap .pb-185 {
	padding-bottom: 185px
}

.evente-wrap .pb-190 {
	padding-bottom: 190px
}

.evente-wrap .pb-195 {
	padding-bottom: 195px
}

.evente-wrap .pb-200 {
	padding-bottom: 200px
}

.evente-wrap .pl-5 {
	padding-left: 5px
}

.evente-wrap .pl-10 {
	padding-left: 10px
}

.evente-wrap .pl-15 {
	padding-left: 15px
}

.evente-wrap .pl-20 {
	padding-left: 20px
}

.evente-wrap .pl-25 {
	padding-left: 25px
}

.evente-wrap .pl-30 {
	padding-left: 30px
}

.evente-wrap .pl-35 {
	padding-left: 35px
}

.evente-wrap .pl-40 {
	padding-left: 40px
}

.evente-wrap .pl-45 {
	padding-left: 45px
}

.evente-wrap .pl-50 {
	padding-left: 50px
}

.evente-wrap .pl-55 {
	padding-left: 55px
}

.evente-wrap .pl-60 {
	padding-left: 60px
}

.evente-wrap .pl-65 {
	padding-left: 65px
}

.evente-wrap .pl-70 {
	padding-left: 70px
}

.evente-wrap .pl-75 {
	padding-left: 75px
}

.evente-wrap .pl-80 {
	padding-left: 80px
}

.evente-wrap .pl-85 {
	padding-left: 85px
}

.evente-wrap .pl-90 {
	padding-left: 90px
}

.evente-wrap .pl-95 {
	padding-left: 95px
}

.evente-wrap .pl-100 {
	padding-left: 100px
}

.evente-wrap .pl-105 {
	padding-left: 105px
}

.evente-wrap .pl-110 {
	padding-left: 110px
}

.evente-wrap .pl-115 {
	padding-left: 115px
}

.evente-wrap .pl-120 {
	padding-left: 120px
}

.evente-wrap .pl-125 {
	padding-left: 125px
}

.evente-wrap .pl-130 {
	padding-left: 130px
}

.evente-wrap .pl-135 {
	padding-left: 135px
}

.evente-wrap .pl-140 {
	padding-left: 140px
}

.evente-wrap .pl-145 {
	padding-left: 145px
}

.evente-wrap .pl-150 {
	padding-left: 150px
}

.evente-wrap .pl-155 {
	padding-left: 155px
}

.evente-wrap .pl-160 {
	padding-left: 160px
}

.evente-wrap .pl-165 {
	padding-left: 165px
}

.evente-wrap .pl-170 {
	padding-left: 170px
}

.evente-wrap .pl-175 {
	padding-left: 175px
}

.evente-wrap .pl-180 {
	padding-left: 180px
}

.evente-wrap .pl-185 {
	padding-left: 185px
}

.evente-wrap .pl-190 {
	padding-left: 190px
}

.evente-wrap .pl-195 {
	padding-left: 195px
}

.evente-wrap .pl-200 {
	padding-left: 200px
}

.evente-wrap .pr-5 {
	padding-right: 5px
}

.evente-wrap .pr-10 {
	padding-right: 10px
}

.evente-wrap .pr-15 {
	padding-right: 15px
}

.evente-wrap .pr-20 {
	padding-right: 20px
}

.evente-wrap .pr-25 {
	padding-right: 25px
}

.evente-wrap .pr-30 {
	padding-right: 30px
}

.evente-wrap .pr-35 {
	padding-right: 35px
}

.evente-wrap .pr-40 {
	padding-right: 40px
}

.evente-wrap .pr-45 {
	padding-right: 45px
}

.evente-wrap .pr-50 {
	padding-right: 50px
}

.evente-wrap .pr-55 {
	padding-right: 55px
}

.evente-wrap .pr-60 {
	padding-right: 60px
}

.evente-wrap .pr-65 {
	padding-right: 65px
}

.evente-wrap .pr-70 {
	padding-right: 70px
}

.evente-wrap .pr-75 {
	padding-right: 75px
}

.evente-wrap .pr-80 {
	padding-right: 80px
}

.evente-wrap .pr-85 {
	padding-right: 85px
}

.evente-wrap .pr-90 {
	padding-right: 90px
}

.evente-wrap .pr-95 {
	padding-right: 95px
}

.evente-wrap .pr-100 {
	padding-right: 100px
}

.evente-wrap .pr-105 {
	padding-right: 105px
}

.evente-wrap .pr-110 {
	padding-right: 110px
}

.evente-wrap .pr-115 {
	padding-right: 115px
}

.evente-wrap .pr-120 {
	padding-right: 120px
}

.evente-wrap .pr-125 {
	padding-right: 125px
}

.evente-wrap .pr-130 {
	padding-right: 130px
}

.evente-wrap .pr-135 {
	padding-right: 135px
}

.evente-wrap .pr-140 {
	padding-right: 140px
}

.evente-wrap .pr-145 {
	padding-right: 145px
}

.evente-wrap .pr-150 {
	padding-right: 150px
}

.evente-wrap .pr-155 {
	padding-right: 155px
}

.evente-wrap .pr-160 {
	padding-right: 160px
}

.evente-wrap .pr-165 {
	padding-right: 165px
}

.evente-wrap .pr-170 {
	padding-right: 170px
}

.evente-wrap .pr-175 {
	padding-right: 175px
}

.evente-wrap .pr-180 {
	padding-right: 180px
}

.evente-wrap .pr-185 {
	padding-right: 185px
}

.evente-wrap .pr-190 {
	padding-right: 190px
}

.evente-wrap .pr-195 {
	padding-right: 195px
}

.evente-wrap .pr-200 {
	padding-right: 200px
}

/* font weight */
.evente-wrap .f-700 {
	font-weight: 700;
}

.evente-wrap .f-600 {
	font-weight: 600;
}

.evente-wrap .f-500 {
	font-weight: 500;
}

.evente-wrap .f-400 {
	font-weight: 400;
}

.evente-wrap .f-300 {
	font-weight: 300;
}

/* Background Color */

.evente-wrap .gray-bg {
	background: #f7f7fd;
}

.evente-wrap .white-bg {
	background: #fff;
}

.evente-wrap .black-bg {
	background: #222;
}

.evente-wrap .theme-bg {
	background: #222;
}

.evente-wrap .primary-bg {
	background: #222;
}

/* Color */

.evente-wrap .white-color {
	color: #fff;
}

.evente-wrap .black-color {
	color: #222;
}

.evente-wrap .theme-color {
	color: #222;
}

.evente-wrap .primary-color {
	color: #222;
}

/* black overlay */

.evente-wrap [data-overlay] {
	position: relative;
}

.evente-wrap [data-overlay]::before {
	background: #000 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.evente-wrap [data-overlay="3"]::before {
	opacity: 0.3;
}

.evente-wrap [data-overlay="4"]::before {
	opacity: 0.4;
}

.evente-wrap [data-overlay="5"]::before {
	opacity: 0.5;
}

.evente-wrap [data-overlay="6"]::before {
	opacity: 0.6;
}

.evente-wrap [data-overlay="7"]::before {
	opacity: 0.7;
}

.evente-wrap [data-overlay="8"]::before {
	opacity: 0.8;
}

.evente-wrap [data-overlay="9"]::before {
	opacity: 0.9;
}